body {
    display: flex;
}
.header {
    border: 2px solid black;
}
.content1 {
    border: 2px solid black;
}
.content2 {
    border: 2px solid black;
}
.content3 {
    border: 2px solid black;
}
.footer {
    border: 2px solid black;
}