* {
  margin: 0;
  padding: 0;
}

body {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.container {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  padding: 0 6.5rem;
}

.header {
  background-color: #1f2937;
}
.head {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}
.logo {
  font-size: 22px;
  color: #f9faf8;
}
ul {
  list-style: none;
  display: flex;
  gap: 15px;
  color: #e5e6eb;
  font-size: 18px;
}

.main {
  display: flex;
  flex-direction: column;
}
/* New Section 1 */
.section-one {
  background-color: #1f2937;
}
.sec-one {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  padding-top: 50px;
  gap: 20px;
  margin-bottom: 40px;
}
.c1s1 {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
  color: #e5e6eb;
}
.awesome {
  font-weight: bolder;
  font-size: 48px;
  color: #f9faf8;
}
.awesome-content {
  font-size: 20px;
}
.section-one-button {
  padding: 5px 20px;
  border-style: none;
  border-radius: 8px;
  background-color: #3882f6;
  color: white;
}
.c2s1 {
  flex: 1;
}
.c2s1 img {
  width: 100%;
  height: 350px;
}

/* New Section 2 */
.section-two {
  background-color: white;
}
.sec-two {
  display: flex;
  flex-direction: column;
}
.c1s2 {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 36px;
  font-weight: bold;
  padding: 50px;
}
.c2s2 {
  display: flex;
  justify-content: space-around;
  padding-left: 120px;
  padding-right: 120px;
}
.card {
  height: 300px;
  width: 170px;
  margin-bottom: 100px;
}
.space {
  height: 170px;
  width: 170px;
  border: 5px solid #3882f6;
  border-radius: 12px;
  margin-bottom: 10px;
}
.space img {
  height: 100%;
  width: 100%;
  object-fit: fill;
  border-radius: 12px;
}
.card .text {
  text-align: center;
}
/* New Section 3 */
.section-three {
  background-color: #e5e7eb;
}
.sec-three {
  display: flex;
  flex-direction: column;
  padding: 100px;
}
.c1s3 {
  font-size: 34px;
  font-weight: light;
  font-style: italic;
  color: #1f2937;
}
.c2s3 {
  align-self: end;
  font-weight: bolder;
  font-size: 20px;
}
.section-four {
  background-color: white;
}
.sec-four {
  padding: 70px 130px;
  background-color: #3882f6;
  border-radius: 8px;
  margin-top: 100px;
  margin-bottom: 100px;
}
.all {
  display: flex;
  justify-content: space-between;
}
.cs4 {
  display: flex;
  background-color: #3882f6;
}
.call {
  color: white;
  font-size: 26px;
}
.sign {
  color: #e5e7eb;
  font-size: 20px;
}
.c2s4 {
  display: flex;
  align-items: center;
}
.c2s4 button {
  padding: 8px 25px;
  border-radius: 8px;
  background-color: #3882f6;
  color: white;
  font-size: 20px;
  font-weight: bold;
  border: 2px solid white;
}
.footer {
  background-color: #1f2937;
}
.foot {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 40px;
  color: white;
  font-size: 20px;
}
